@media (max-width: 768px) {

    .main-section {
        grid-template-columns: repeat(1, 1fr);
    }


    .main-div:first-child,
    .main-div:last-child {
        grid-column: 1 / 2;
    }

    .main-div img {
        width: 100%;
    }
    .timeline::before,
    .timeline-connector {
      left: 30px;
    }
    
    .event {
      flex-direction: column;
      margin-bottom: 40px;
    }
    
    .year {
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
    }
    
    .event-marker {
      left: 10px;
      right: auto; 
      top: 30px;
      transform: none;
    }
    
    .event-content {
      margin-left: 30px;
    }

    .tea-ritual-section {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: auto;
        width: 100%;
        color: var(--secondary-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(365deg, #374b4ad1, #c4a07cad),
            url(assets/cocteau-hill.jpg) no-repeat center center / cover;
    }

    .tea-ritual-title {
        color: var(--secondary-color);
        border-bottom: 2px solid var(--secondary-color);
        padding: 10px;
        text-align: center;
        font-size: 40px;
    }

    .tea-ritual-description {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .tea-ritual-text-1,
    .tea-ritual-text-2 {
        grid-column: 1 / 2;
    }



    #our-location {
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: justify;
        
    }

    .location-title {
        text-align: center;
    }

    .location-p {
        font-size: 22px;
    }

.articles-image{
align-content: center;
align-items: center;
justify-content: center;
justify-items: center;

}
.articles-container{
  
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
        gap: 10px;
        width: 768px;
        margin: 2em auto;
        padding: 15px;
}

}